<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715775621317-jbqf95hrincrgo183na0gf3tn3cvhsbf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715775621317-jbqf95hrincrgo183na0gf3tn3cvhsbf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>715775621317-1g2b7me3md1sbtcpq6u6sesld3js9t4j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDrCzF90okW7UwebddELMI0_oVxemJPomk</string>
	<key>GCM_SENDER_ID</key>
	<string>715775621317</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winhalla.app</string>
	<key>PROJECT_ID</key>
	<string>winhalla-app</string>
	<key>STORAGE_BUCKET</key>
	<string>winhalla-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715775621317:ios:232bef053acc2092dcd8ac</string>
</dict>
</plist>